.component-products {
  margin-bottom: 20px;

  &:hover {
    text-decoration: none; //menghilangkan garis bawah dari link
  }

  .products-thumbnail {
    width: 100%;
    height: 150px;

    border-radius: 8px;

    //membuat gambar bergerak di dalam
    overflow: hidden;
    position: relative;
    z-index: 1; //agar border radiusnya tidak hilang

    &:hover,
    &:focus {
      .products-image {
        transform: scale(1.1);
      }
    }
    //agar gambar rapi
    .products-image {
      width: 100%;
      height: 100%;

      background-color: #ddd;
      background-position: center; //agar gambar di tengah
      background-size: cover; //agar gambar memenuhi semua
      background-repeat: no-repeat; // agar gambar tidak berulang
      transition: all 0.3s ease;
    }
  }
  .products-text {
    font-weight: normal;
    font-size: 18px;
    color: #0c0d36;
    margin-top: 12px;
  }
  .products-price {
    font-weight: 500;
    font-size: 16px;
    color: #ff7158;
  }
}
